<template>
  <div>
    <div class="landing-page" :style="landingPageStyle">
      <div class="container">
        <div class="row">
          <div
            class="top-background-image"
            :style="{ backgroundImage: 'url(' + TopBackground + ')' }"
          ></div>
          <div class="content middle">
            <div class="logo">
              <img src="../assets/images/logo.png" alt />
            </div>
            <br />
            <h1 class="animated fadeIn">Kembara Nusa.</h1>
            <p
              class="mb-5 animated fadeIn"
            >Organisasi sosial yang menaungi para dokter gigi dan relawan untuk pemerataan kesehatan gigi dan mulut di seluruh pelosok Indonesia.</p>
            <a
              class="btn btn-primary mr-1"
              href="http://bit.ly/register-rajaampat"
              @click="setLoading"
            >
              <div class="loading-icon" v-if="isLoading">
                <img src="../assets/images/loading-icon.svg" alt />
              </div>
              <span>Daftar Menjadi Volunteer</span>
            </a>
            <a
              class="ml-1 btn btn-outline-primary"
              href="https://drive.google.com/file/d/1IxuSX395nOe5Eur0eYR3EafiwXGE5Tbj/view"
            >Lihat Detail Itinerary (PDF)</a>
          </div>
        </div>
      </div>
    </div>

    <div class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 data-aos="fade-in">Tentang Kembara Nusa</h1>
            <p data-aos="fade-up">
              Yayasan ini berdiri karena keprihatinan kami pada kesehatan gigi dan mulut di wilayah pelosok Indonesia yang jumlah dokter giginya sangat minim dibandingkan rasio penduduk setempat. Ditambah minimnya pengetahuan tentang kesehatan gigi dan mulut, kurangnya akses untuk memperoleh pengobatan sehingga menyebabkan tingginya prevalensi penyakit gigi dan mulut yang tidak tertangani dengan baik.
              <br />
              <br />Yayasan ini juga ingin mengajak para dokter gigi dan teman-teman relawan lain dari berbagai latar belakang pendidikan yang ingin membantu untuk meningkatkan kesehatan gigi dan mulut di wilayah Indonesia, sekaligus mengenalkan kekayaan alam Indonesia di daerah yang kami pilih sebagai project kami.
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div class="gallery">
      <div class="container full-width">
        <div class="row">
          <div
            class="gallery-photo"
            v-for="(galleryPhoto, index) in galleryPhotos"
            :key="index"
            data-aos="fade-in"
            :style="{'background-image': `url(` + `https://farm${galleryPhoto.farm}.staticflickr.com/${galleryPhoto.server}/${galleryPhoto.id}_${galleryPhoto.secret}_n.jpg` + `)`}"
          ></div>
          <!-- <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="150"
            :style="{ 'background-image': 'url(' + image2 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="300"
            :style="{ 'background-image': 'url(' + image3 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="450"
            :style="{ 'background-image': 'url(' + image4 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="0"
            :style="{ 'background-image': 'url(' + image5 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="150"
            :style="{ 'background-image': 'url(' + image6 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="300"
            :style="{ 'background-image': 'url(' + image7 + ')' }"
          ></div>
          <div
            class="gallery-photo"
            data-aos="fade-in"
            data-aos-delay="450"
            :style="{ 'background-image': 'url(' + image8 + ')' }"
          ></div>-->
        </div>
      </div>
    </div>

    <div class="cara-mendaftar">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title">
            <h1>Langkah Menjadi Volunteer</h1>
          </div>
          <div class="col-md-12 no-padding langkah">
            <div class="row">
              <div class="col-md-9 no-padding">
                <h2 data-aos="fade-up">Isi google form yang telah tersedia</h2>
                <p
                  data-aos="fade-up"
                  data-aos-delay="100"
                >Kami akan melakukan seleksi dari form yang telah di isi.</p>
                <a
                  data-aos="fade-up"
                  data-aos-delay="100"
                  class="btn btn-primary"
                  href="http://bit.ly/register-rajaampat"
                  @click="setLoading"
                >
                  <div class="loading-icon" v-if="isLoading">
                    <img src="../assets/images/loading-icon.svg" alt />
                  </div>
                  <span>Volunteer Form</span>
                </a>
              </div>
              <div class="col-md-3 text-right">
                <img class="icon" :src="FormIcon" />
              </div>
            </div>
          </div>

          <br />
          <br />

          <div class="col-md-12 no-padding langkah">
            <div class="row">
              <div class="col-md-9 no-padding">
                <h2 data-aos="fade-up">Tunggu konfirmasi dari kami</h2>
                <p
                  data-aos="fade-up"
                  data-aos-delay="100"
                >Jika terpilih pihak kami akan menghubungi by email atau whatsapp untuk keterangan lebih lanjut.</p>
              </div>
              <div class="col-md-3 text-right">
                <img class="icon" :src="TungguIcon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-media">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title" data-aos="fade-up">Follow Us on Social Media</h1>
            <div
              data-aos="fade-up"
              data-aos-delay="150"
              class="instagram social-media-single col-md-2 offset-md-5"
            >
              <img src="../assets/images/instagram-icon.svg" alt />
              <br />
              <p class="text-center text-info">
                <a class="text-center" href="https://instagram.com/kembara.nusa">@kembara.nusa</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Gallery1 from "../assets/images/gallery1.jpg";
import Gallery2 from "../assets/images/gallery2.jpeg";
import Gallery3 from "../assets/images/gallery3.jpg";
import Gallery4 from "../assets/images/gallery4.jpeg";
import Gallery5 from "../assets/images/gallery5.jpg";
import Gallery6 from "../assets/images/gallery6.jpg";
import Gallery7 from "../assets/images/gallery7.jpg";
import Gallery8 from "../assets/images/gallery8.jpg";
import FormIcon from "../assets/images/form-icon.svg";
import TungguIcon from "../assets/images/tunggu-icon.svg";
import TopBackground from "../assets/images/TopBackground.jpeg";
import axios from "axios";
import jsonp from "jsonp";
import keys from "../credentials/keys.js";

export default {
  name: "Home",
  data() {
    return {
      msg: "potong bebek angsa",
      galleryPhotos: [],
      per_page: 0,
      perPageNeeded: "",
      landingPageStyle: {
        height: "",
        width: "100%",
        position: "relative"
      },
      image1: Gallery1,
      image2: Gallery2,
      image3: Gallery3,
      image4: Gallery4,
      image5: Gallery5,
      image6: Gallery6,
      image7: Gallery7,
      image8: Gallery8,
      FormIcon,
      TungguIcon,
      TopBackground,
      isLoading: false
    };
  },
  methods: {
    gettingEvent() {
      console.log(innerWidth);
      console.log(innerHeight);
      console.log(Gallery1);
    },
    setLoading() {
      this.isLoading = true;
    }
  },
  async created() {
    this.landingPageStyle.height = window.innerHeight + "px";
    const currentURL = window.location.pathname;
    if (currentURL !== "/") {
      this.per_page = 0;
      this.perPageNeeded = "";
    } else {
      this.per_page = 8;
      this.perPageNeeded = "per_page=";
    }
    await jsonp(
      `https://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=${keys.FlickrAPIKey}&user_id=161012902%40N05&${this.perPageNeeded}${this.per_page}&format=json`
    );

    window.jsonFlickrApi = async data => {
      this.galleryPhotos = data.photos.photo;
      await console.log(this.galleryPhotos);
    };
  }
};
</script>

<style>
</style>
