@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,600,800,900');

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900');

body,
html {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 100%;
  vertical-align: baseline;
  overflow-x: hidden;
}
#app {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #714b96;
  /* margin-top: 60px; */
}
a {
  color: white;
}

.btn-primary:hover {
  background-color: #9f6dd0;
  border-color: #9f6dd0;
}

.btn-outline-primary:hover {
  background-color: #9f6dd0;
  border-color: #9f6dd0;
}

a:hover {
  color: inherit;
  font-style: none;
  text-decoration: none;
}

a.btn {
  position: relative;
}

.btn-primary,
.btn-outline-primary {
  /* border-color: ; */
  border: 2px solid #714b96;
}

.btn {
  padding: 15px 25px;
  border-radius: 40px;
}

.btn-primary {
  background-color: #714b96;
}

.btn-outline-primary {
  color: white;
}

.row {
  margin: 0;
}

[class*=' col-md-'] {
  padding: 0;
}

.landing-page {
  color: #fff;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 900;
  margin-bottom: 40px;
}

p {
  font-size: 22px;
  color: #383838;
}

.container {
  padding: 0;
}

.purple-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #714b96;
  z-index: 1;
}

.container.full-width {
  max-width: 100%;
}

.logo {
  margin-bottom: 0px;
  text-align: center;
}

.logo img {
  width: 280px;
}

.landing-page h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 120px;
  margin-bottom: 10px;
}

.landing-page p {
  color: #fff;
}

.top-background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url('./images/TopBackground.jpeg'); */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.top-background-image:after {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  top: 0;
  left: 0;
}

.landing-page .content.middle {
  width: 1140px;
  padding: 15px;
}

.content.middle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.about,
.cara-mendaftar,
.social-media {
  padding-top: 150px;
  padding-bottom: 150px;
}

.gallery-photo {
  background-size: cover;
  background-position: center;
  width: calc(100% / 4);
  height: 250px;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

.cara-mendaftar {
  background-color: #3c284f;
  color: white;
}

.cara-mendaftar h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.cara-mendaftar a {
  margin-top: 20px;
}

.cara-mendaftar p {
  color: white;
}

.langkah {
  margin-bottom: 80px;
}

.social-media a {
  color: #383838;
}

.social-media-single {
  text-align: center;
}

.social-media-single img {
  width: 120px;
}

.social-media .text-info {
  margin-top: 20px;
}

img.icon {
  width: 130px;
}

footer {
  padding-bottom: 50px;
  padding-top: 50px;
}

footer p {
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .no-padding {
    padding: 0;
  }
}

@media screen and (max-width: 1150px) {
  .landing-page .content.middle {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }
  .landing-page h1 {
    font-size: 110px;
  }
}

@media screen and (max-width: 500px) {
  /* .landing-page h1 {
    font-size: 50px;
  } */
  .landing-page h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  .btn {
    padding: 5px 17px;
  }
  .logo img {
    width: 200px;
  }
  .logo {
    text-align: center;
  }
  /* p {
    font-size: 17px;
  } */
  a {
    margin-bottom: 5px;
  }
  .mb-5 {
    margin-bottom: 12px !important;
  }
  .about,
  .cara-mendaftar,
  .social-media {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .gallery-photo {
    width: calc(100% / 2);
    height: 150px;
  }

  .title {
    margin-bottom: 60px;
  }

  /* .btn {
    padding: 10px 20px;
  } */

  img.icon {
    display: none;
  }
}

@media screen and (max-width: 500px) and (max-height: 570px) {
  .landing-page h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  .btn {
    padding: 5px 17px;
  }
}

/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/09/2018 12:28
  	*/

@font-face {
  font-family: 'Flaticon';
  src: url('./Flaticon.eot');
  src: url('./Flaticon.eot?#iefix') format('embedded-opentype'),
    url('./Flaticon.woff') format('woff'),
    url('./Flaticon.ttf') format('truetype'),
    url('./Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('./Flaticon.svg#Flaticon') format('svg');
  }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-contract:before {
  content: '\f100';
}
.flaticon-circular-clock:before {
  content: '\f101';
}
