<template>
  <div id="app">
    <!-- <img src="./assets/images/logo.png"> -->
    <div class="purple-line"></div>
    <router-view/>
    <footer class="col-md-12">
      <div class="container">
        <div class="row">
          <p>© 2018 Kembara Nusa. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App'
};
</script>

<style>
</style>
